<!doctype html>
<html class="no-js" lang="zxx">
<head>
        {% load static %}
                    <img src="{% static 'images/logout_img.png' %}"  style="width:800px; height:100px; padding-left:200px; padding-top:100px">
<!--                    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">-->
        <div id="container">
                <div class="text-center text-primary fw-bold">
                <h4>Create Account ? <a href="/customersignup" class="text-danger">Create Account</a>  </h4>
                <h4>Login again ? <a href="../" class="text-danger">Login</a> </h4>
        </div>
        </div>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br>

</head>
</html>